<% form_for @search,:url => {:action => :index},:html => {:class => :uniForm } do |f| -%>
  <fieldset class='inlineLabels'>
    <p class='red-text'>查询结果取决与你被授予的权限</p>
    <div class='ctrlHolder'>
      <%=f.label :org_id_is,"分理处/分公司"%>
      <%=f.select :org_id_is,sub_companies_for_select,:include_blank => true %>
    </div>
    <div class='ctrlHolder'>
      <%=f.label :mth_is,"月份"%>
      <%=f.select :mth_is,months_for_select,:include_blank => true,:selected => 1.months.ago.strftime("%Y%m") %>
    </div>
  </fieldset>
  <div class="actions-bar">
    <%=f.submit '查询', :class => 'sexybutton sexysimple sexyblue'%>
  </div>
<% end -%>
