<ul class="wat-cf">
  <li class="first <%=check_sub_active_tab(1) %>"><%= link_to "入库单", consumer_receipts_path(:active_sub_tab => 1) %></li>
  <li class="<%=check_sub_active_tab(2) %>"><%= link_to "领用单", consumer_shippments_path(:active_sub_tab => 2) %></li>
  <li class="<%=check_sub_active_tab(3) %>"><%= link_to "物品定义", consumer_materials_path(:active_sub_tab => 3) %></li>
  <%if params[:active_sub_tab] == '6'%>
    <li class="active"><%= link_to "新建入库单", new_durable_receipt_path(:active_sub_tab => 6) %></li>
  <%end%>
  <%if params[:active_sub_tab] == '9'%>
    <li class="active"><%= link_to "新建领用单", new_consumer_shippment_path(:active_sub_tab => 9) %></li>
  <%end%>

  <%if params[:active_sub_tab] == '7'%>
    <li class="active"><%= link_to "新建物品", new_consumer_material_path(:active_sub_tab => 7) %></li>
  <%end%>

  <%if params[:active_sub_tab] == '8'%>
    <li class="active"><%= link_to "修改物品资料", edit_consumer_material_path(@consumer_material,:active_sub_tab => 8) %></li>
  <%end%>

  <li class="<%=check_sub_active_tab(10) %>"><%= link_to "易耗品库存查询#{alert(@storage_alert_count)}", m_storages_path(:in_what => 'consumer_receipts',"search[material_type_is]" => "ConsumerMaterial","search[material_is_active]" => true,:active_sub_tab => 10) %></li>
</ul>
