<div class="block">
  <div class="secondary-navigation">
    <%= render :partial => "settlements/caption" %>
  </div>          
  <div class="content">          
    <h2 class="title">合同模板</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first"></th>
          <th>分理处/分公司</th>
          <th>合同期限</th>
          <th>创建日期</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @contracts.each do |contract| -%>
          <tr class="<%= cycle("odd", "even") %>">
            <td><%=link_to_function("<span class='red-text'>警</span>","Modalbox.show('<h2>合同即将到期!</h2>',{title : false})") if contract.date_to <= (3.months.since.to_date) && !contract.alert%></td>
            <td>
              <%= contract.org.name %>
            </td>
            <td><%="#{contract.date_from} ~ #{contract.date_to}"%></td>
            <td><%=contract.created_at.to_date%></td>
            <td class="last">
              <%=link_to("取消报警",disable_alert_contract_path(contract),:method => :put ) if contract.date_to <= (3.months.since.to_date) && !contract.alert%>
              <%if check_power('edit_contract')%>
                <%= link_to "修改", edit_contract_path(contract,:active_sub_tab => 4) %> |
              <%end%>

              <%if check_power('destroy_contract')%>
                <%= link_to "删除", contract, :method => :delete, :confirm => "您确定删除该信息吗？" %>
              <%end%>
            </td>
          </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
          <%=will_paginate @contracts%>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
