<div class="block">
  <div class="secondary-navigation">
    <%= render :partial => "settlements/caption" %>
  </div>          
  <div class="content">          
    <h2 class="title">合同模板</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first"></th>
          <th>分理处/分公司</th>
          <th>合同期限</th>
          <th>创建日期</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @contracts.each do |contract| -%>
          <tr class="<%= cycle("odd", "even") %>">
            <td></td>
            <td>
              <%= conntract.org.name %>
            </td>
            <td><%="#{contract.date_from} ~ #{contract.date_to}"%></td>
            <td><%=contract.created_at.to_date%></td>
            <td class="last">
              <%= link_to "修改", edit_contract_path(contract) %> |
              <%= link_to "删除", contract, :method => :delete, :confirm => "您确定删除该信息吗？" %>
            </td>
          </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
          <%=will_paginate @contracts%>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
