<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", contracts_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_contract_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", contract_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      <table class='table'>
        <tr>
          <td>结算单位:</td>
          <td><%=@contract.org.name%></td>
        </tr>
        <tr>
          <td>合同日期:</td>
          <td><%=@contract.date_from%> ~ <%=@contract.date_to%></td>
        </tr>
        <tr>
          <td>备注:</td>
          <td><%=@contract.note%></td>
        </tr>
        <tr>
          <td>状态:</td>
          <td><%=@contract.is_active ? "有效" : "无效"%></td>
        </tr>
      </table>
      <div class='radius-box doc-info'>
        <h3 class='border-bottom'>结算比例</h3>
        <table class='table'>

          <%@contract.contract_radios.each do |r|%>
            <tr>
              <td>月份:<%=r.mth%></td>
              <td>始发货:<%=r.start_radio%>%</td>
              <td>返程货:<%=r.back_radio%>%</td>
            </tr>
          <%end%>
        </table>
      </div>

      <%@group_fixed_subsidies.each do |mth,subsidies|%>
        <div class='radius-box doc-info'>
          <h3 class='border-bottom'><%=mth%>-固定应补项目</h3>
          <table class='table'>
            <%subsidies.each do |item|%>
              <tr>
                <td><%=item.name%></td>
                <td><%=item.value%></td>
              </tr>
            <%end%>
          </table>
        </div>
      <%end%>
      <%@group_fixed_deductions.each do |mth,deductions|%>
        <div class='radius-box doc-info'>
          <h3 class='border-bottom'><%=mth%>-固定应扣项目</h3>
          <table class='table'>
            <%deductions.each do |item|%>
              <tr>
                <td><%=item.name%></td>
                <td><%=item.value%></td>
              </tr>
            <%end%>
          </table>
        </div>
      <%end%>
      <div class='radius-box doc-info'>
        <h3 class='border-bottom'>非固定应补项目</h3>
        <table class='table'>
          <%@contract.unfixed_subsidies.each do |item|%>
            <tr>
              <td><%=item.name%></td>
            </tr>
          <%end%>
        </table>
      </div>
      <div class='radius-box doc-info'>
        <h3 class='border-bottom'>非固定应扣项目</h3>
        <table class='table'>
          <%@contract.unfixed_deductions.each do |item|%>
            <tr>
              <td><%=item.name%></td>
            </tr>
          <%end%>
        </table>
      </div>
      <div class='radius-box doc-info'>
        <h3 class='border-bottom'>其他应扣项目</h3>
        <table class='table'>
          <%@contract.other_deductions.each do |item|%>
            <tr>
              <td><%=item.name%></td>
            </tr>
          <%end%>
        </table>
      </div>
    </div>
  </div>
</div>
<% content_for :sidebar, render(:partial => 'sidebar') -%>
