<h1>New config_info</h1>

<% form_for(@config_info) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :config_key %><br />
    <%= f.text_field :config_key %>
  </p>
  <p>
    <%= f.label :config_value %><br />
    <%= f.text_field :config_value %>
  </p>
  <p>
    <%= f.label :config_num_from %><br />
    <%= f.text_field :config_num_from %>
  </p>
  <p>
    <%= f.label :config_num_to %><br />
    <%= f.text_field :config_num_to %>
  </p>
  <p>
    <%= f.label :config_date_from %><br />
    <%= f.date_select :config_date_from %>
  </p>
  <p>
    <%= f.label :config_date_to %><br />
    <%= f.date_select :config_date_to %>
  </p>
  <p>
    <%= f.label :config_value_num %><br />
    <%= f.text_field :config_value_num %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', config_infos_path %>