<div class="block">
  <div class="secondary-navigation">
    <%= render :partial => "vip_fee_infos/caption" %>
  </div>          
  <div class="content">          
    <h2 class="title">VIP级别设置列表</h2>
    <div class="inner">
      <% @group_vip_configs.each do |org,configs| -%>
        <h3><%=org.name%></h3>
        <table class="table">
          <%configs.each do |config|%>
            <tr class="<%= cycle("odd", "even") %>">
              <td><%= VipConfig.levels[config.name] %></td>
              <td><%= config.fee_from %></td>
              <td><%= config.fee_to %></td>
              <td><%=link_to "修改",edit_vip_config_path(config),:onclick => "Modalbox.show(this.href,{title : '修改VIP标准'});return false;"%></td>
            </tr>          
          <%end%>
        </table>
      <% end %>
    </div>
  </div>
</div>
<% content_for :sidebar, render(:partial => 'sidebar') -%>
