<ul class="wat-cf">
  <li class="first <%=check_sub_active_tab(1) %>"><%= link_to "入库单", durable_receipts_path(:active_sub_tab => 1) %></li>

  <%if check_power('durable_receipt_audit')%>
    <li class="<%=check_sub_active_tab(15) %>"><%= link_to "待确认入库单", durable_receipts_path(:active_sub_tab => 15,"search[state]" => MaterialInout::STATE_DRAFT,"search[auditor_id]" => current_user) %></li>
  <% end %>
  <li class="<%=check_sub_active_tab(2) %>"><%= link_to "领用单", durable_shippments_path(:active_sub_tab => 2) %></li>

  <%if check_power('durable_shippment_audit')%>
    <li class="<%=check_sub_active_tab(16) %>"><%= link_to "待确认领用单", durable_shippments_path(:active_sub_tab => 16,"search[state]" => MaterialInout::STATE_DRAFT,"search[auditor_id]" => current_user) %></li>
  <%end %>
  <li class="<%=check_sub_active_tab(3) %>"><%= link_to "物品定义", durable_materials_path(:active_sub_tab => 3) %></li>
  <%if params[:active_sub_tab] == '4'%>
    <li class="<%=check_sub_active_tab(4) %>"><%= link_to "查看入库单", durable_receipt_path(@durable_receipt,:active_sub_tab => 4) %></li>
  <%end%>

  <%if params[:active_sub_tab] == '5'%>
    <li class="active"><%= link_to "查看领用单", durable_shippment_path(@durable_shippment,:active_sub_tab => 5) %></li>
  <%end%>
  <%if params[:active_sub_tab] == '6'%>
    <li class="active"><%= link_to "新建入库单", new_durable_receipt_path(:active_sub_tab => 6) %></li>
  <%end%>
  <%if params[:active_sub_tab] == '9'%>
    <li class="active"><%= link_to "新建领用单", new_durable_shippment_path(:active_sub_tab => 9) %></li>
  <%end%>

  <%if params[:active_sub_tab] == '7'%>
    <li class="active"><%= link_to "新建物品", new_durable_material_path(:active_sub_tab => 7) %></li>
  <%end%>

  <%if params[:active_sub_tab] == '8'%>
    <li class="active"><%= link_to "修改物品资料", edit_durable_material_path(@durable_material,:active_sub_tab => 8) %></li>
  <%end%>
  <%if check_power('m_storages')%>
    <li class="<%=check_sub_active_tab(10) %>"><%= link_to "库存查询", m_storages_path(:in_what => 'durable_receipts',"search[material_type_is]" => "DurableMaterial","search[qty_gt]" => 0, "search[material_is_active]" => true,:active_sub_tab => 10) %></li>
  <%end%>

  <%if check_power('material_inout_lines')%>
    <li class="<%=check_sub_active_tab(11) %>"><%= link_to "部门耐用品汇总", material_inout_lines_path(:active_sub_tab => 11) %></li>
  <%end%>

  <li class="<%=check_sub_active_tab(12) %>"><%= link_to "报废单", scrapped_infos_path(:active_sub_tab => 12) %></li>
  <%if params[:active_sub_tab] == '13'%>
    <li class="active"><%= link_to "新建报废单", new_scrapped_info_path(:active_sub_tab => 13) %></li>
  <%end%>
  <%if params[:active_sub_tab] == '14'%>
    <li class="active"><%= link_to "查看报废单", scrapped_info_path(@scrapped_info,:active_sub_tab => 14) %></li>
  <%end%>

</ul>
