<fieldset class='blockLabels'>
  <%=f.error_messages%>
  <div class="ctrlHolder">
    <%= f.label :name, "名称" %>
    <%= f.text_field :name, :class => 'textInput' %>
  </div>
  <div class="ctrlHolder">
    <%= f.label :address, "地址" %>
    <%= f.text_field :address, :class => 'textInput' %>
  </div>
  <div class="ctrlHolder">
    <%= f.label :phone, "联系电话" %>
    <%= f.text_field :phone, :class => 'textInput' %>
  </div>
  <div class="ctrlHolder">
    <%= f.label :is_active, "有效标志" %>
    <%= f.check_box :is_active %>
    <p class='formHint'>对于不再使用的机构,可将其设置为无效<p>
  </div>
</fieldset>
<div class="actions-bar">
  <%=f.submit '保存信息', :class => 'sexybutton sexysimple sexyblue'%>
  <%=link_to '取消',:back,:class => 'sexybutton sexysimple sexyred' %>
</div>       
