<div class="block">
  <h3>新建</h3>
  <ul class="navigation">
    <li><%= link_to "新建科室", new_department_path %></li>
    <li><%= link_to "新建分公司", new_sub_company_path %></li>
    <li><%= link_to "新建仓库", new_warehouse_path %></li>
  </ul>
</div>
<div id='hand_fee_list_wrap'>
  <%= render :partial => "config_infos/list_hand_fee",:object => ConfigInfo.hand_fee_rates %>
</div>

<div id='storage_fee_wrap'>
  <%= render :partial => "config_infos/storage_fee_display",:object => ConfigInfo.storage_fee_rate.first %>
</div>
<div id='query_range_wrap'>
  <%= render :partial => "config_infos/query_range_display",:object => ConfigInfo.force_query_range %>
</div>
<div class="block">
  <h3>提示</h3>
  <div class='content'>
    <p>默认情况下,系统预设了手续费的收取比例,当您未设置手续费收费比例时,
    系统将按照默认的设置计算手续费,如果您设置的手续费比例无法计算当前的手续费时,系统也将使用默认的设置计算手续费,
    默认收费费设置如下表所示:
    </p>
    <table class='table'>
      <tr><td> 0 ~ 1000元</td><td>1.0元</td></tr>
      <tr><td> 1001 ~ 2000元</td><td>2.0元</td></tr>
      <tr><td> 2001 ~ 3000元</td><td>3.0元</td></tr>
      <tr><td> 3001 ~ 4000元</td><td>4.0元</td></tr>
      <tr><td> 4001 ~ 5000元</td><td>5.0元</td></tr>
      <tr><td colspan='3'> ...以此类推</td></tr>
    </table>

  </div>
</div>

