<tr class='fields'>
  <td width='50' class='text-right'>名称:</td>
  <td>
    <%=f.object.name%> 
    <%=f.hidden_field :name %> 
  </td>
  <td width='50' class='text-right'>金额:</td>
  <td>
    <% if value_readonly%>
      <%=f.hidden_field :value %> 
      <%=f.object.value%>
    <% else%>
      <%=f.text_field :value %>
    <% end%>
  </td>
  <!--
  <td>
    <%=link_to_remove_fields "删除",f %>
  </td>
  -->
</tr>
