<%form.clear_date = Time.now.beginning_of_day%>
<%remote_form_for form,:html =>{:class => "uniForm",:id => "bill_operate_form"} do |f|  %>
  <%=flash[:notice]%>
  <%=f.error_messages %>
  <%= render :partial => 'shared/bill_operates/bill_list_operate',:object => form,:locals => {:operate => 'clear_info',:type_is => "InoutBill",:state_is => Bill::STATE_CONFIRM} %>
  <fieldset class='inlineLabels'>
    <%=f.hidden_field :clear_date%>
  </fieldset>
  <div class='actions-bar'>
    <%=f.submit '保存清仓信息', :class => 'sexybutton sexysimple sexygreen'%>
    <%=link_to_function '取消',"Modalbox.hide();return false;",:class => "sexybutton sexysimple sexyred"%>
  </div>
<%end%>
<p class='highlight red-text'>清仓后,运费及代收货款将被清零</p>
