<p>
  <b>Name:</b>
  <%=h @vip_fee_info.name %>
</p>

<p>
  <b>Phone:</b>
  <%=h @vip_fee_info.phone %>
</p>

<p>
  <b>Phone:</b>
  <%=h @vip_fee_info.phone %>
</p>

<p>
  <b>Mth:</b>
  <%=h @vip_fee_info.mth %>
</p>

<p>
  <b>Fee:</b>
  <%=h @vip_fee_info.fee %>
</p>


<%= link_to 'Edit', edit_vip_fee_info_path(@vip_fee_info) %> |
<%= link_to 'Back', vip_fee_infos_path %>