<% form_for @search,:url => {:action => :index},:html => {:class => :uniForm } do |f| -%>
  <fieldset class='inlineLabels'>
    <p class='formHint'>
      查询结果取决与你被授予的权限
    </p>
    <div class='ctrlHolder'>
      <%=f.label :title_like,"标题"%>
      <%=f.text_field :title_like,:class => "textInput"%>
    </div>
    <div class='ctrlHolder'>
      <%=f.label :target_like,"违规人"%>
      <%=f.text_field :target_like,:class => "textInput"%>
    </div>

    <%if current_user.is_admin%>
      <div class='ctrlHolder'>
        <%=f.label :target_org_id_is,"违规机构"%>
        <%=f.select :target_org_id_is,sub_companies_for_select %>
      </div>
    <%else%>
      <%=f.hidden_field :target_org_id_is,:value => current_user.org.id %>
    <%end%>


    <div class='ctrlHolder'>
      <%=f.label :created_at_gte,"录入时间"%>
      <%=f.calendar_date_select :created_at_gte,:class => "shortText",:value => Date.today%>
    </div>
    <div class='ctrlHolder'>
      <%=f.label :created_at_lte,"~"%>
      <%=f.calendar_date_select :created_at_lte,:class => "shortText",:value => Date.today%>
    </div>
  </fieldset>
  <div class="actions-bar">
    <%=f.submit '查询', :class => 'sexybutton sexysimple sexyblue'%>
  </div>
<% end -%>
