<h1>Editing violation</h1>

<% form_for(@violation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :base_message %><br />
    <%= f.text_field :base_message %>
  </p>
  <p>
    <%= f.label :target %><br />
    <%= f.text_field :target %>
  </p>
  <p>
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </p>
  <p>
    <%= f.label :target_org_id %><br />
    <%= f.text_field :target_org_id %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @violation %> |
<%= link_to 'Back', violations_path %>