<div class="block">
  <div class="secondary-navigation">
    <%= render 'settlements/caption' %>
  </div>          
  <div class="content">        
    <h2 class="title">费用项目统计</h2>
    <div class="inner">
      <%form_for :search,:url => {:action => :index},:html => {:method => :get} do |f|%>
        <table class="table">
          <tr>
            <td><%= f.label :settlement_org_id_is,"分理处:" %></td>
            <td><%= f.select :settlement_org_id_is, sub_companies_for_select,:include_blank => true %></td>
            <td><%= f.label :settlement_mth_is,"月份:" %></td>
            <td><%= f.select :settlement_mth_is, months_for_select,:include_blank => true %></td>

            <td><%= f.label :name_is,"项目名称:" %></td>
            <td><%= f.select :name_is, settlement_items_for_select,:include_blank => true %></td>
            <td><%= f.submit '查询', :class => 'sexybutton sexysimple sexyblue'%></td>
          </tr>
        </table>
      <%end%>
      <table class='table'>
        <tr>
          <th class='first'></th>
          <th>结算单位</th>
          <th>月份</th>
          <th>项目名称</th>
          <th>金额</th>
        </tr>
        <%@settlement_lines.each do |line|%>
          <tr class="<%=cycle 'odd','even'%>">
            <td>&nbsp;</td>
            <td><%=line.settlement.org.name%></td>
            <td><%=line.settlement.mth%></td>
            <td><%=line.name%></td>
            <td><%=line.value%></td>
          </tr>
        <%end%>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>总计</td>
          <td><%=@sum%></td>
        </tr>
      </table>
      <div class="actions-bar wat-cf">
        <%=will_paginate @settlement_lines %>
      </div>
    </div>
  </div>
</div>
