<div class="block">
  <div class="secondary-navigation">
    <%= render 'caption' %>
  </div>          
  <div class="content">        
    <h2 class="title">库存查询</h2>
    <div class="inner">
      <%form_for :search,:url => {:action => :index},:html => {:method => :get} do |f|%>
        <fieldset>
          <%=hidden_field_tag "search[material_type_is]",params[:search][:material_type_is]%>
          <%=hidden_field_tag "search[qty_gt]",0%>
          <table class="table">
            <tr>
              <td><%= f.label :warehouse_id_is,"仓库:" %></td>
              <%
                warehouse_type = params[:search][:material_type_is]  == 'DurableMaterial' ? 'DurableWarehouse' : 'ConsumerWarehouse'
              %>
              <td><%= f.select :warehouse_id_is, warehouses_for_select(warehouse_type),:include_blank => true %></td>
              <td><%= f.label :material_name_like,"名称:" %></td>
              <td><%= f.text_field :material_name_like, :class => 'textInput' %></td>
              <td><%= f.submit '查询', :class => 'sexybutton sexysimple sexyblue'%></td>
            </tr>
          </table>
        </fieldset>
      <%end%>
      <table class='table'>
        <tr>
          <th class='first'></th>
          <th>仓库</th>
          <th>物品名称</th>
          <th>规格</th>
          <th>单位</th>
          <th>当前均价</th>
          <th>库存数量</th>
          <th>金额</th>
        </tr>
        <%@m_storages.each do |m|%>
          <tr class="<%=cycle 'odd','even'%>">
            <td><%=link_to_function("<span class='red-text'>警</span>","Modalbox.show('<h2>#{m.material.name}库存低于下限:#{m.material.min_count}</h2>',{title : false})") if m.alert%></td>
            <td><%=m.warehouse.name%></td>
            <td><%=m.material.name%></td>
            <td><%=m.material.description%></td>
            <td><%=m.material.unit%></td>
            <td><%=m.avg_price%></td>
            <td><%=m.qty%></td>
            <td><%=m.qty*m.avg_price%></td>
          </tr>
        <%end%>
        <tr>
          <td colspan='7'>小计:</td>
          <td><%=@m_storages.sum {|m| m.qty*m.avg_price}%></td>
        </tr>
        <tr>
          <td colspan='7'>合计:</td>
          <td><%=@sum_info%></td>
        </tr>

      </table>
      <div class="actions-bar wat-cf">
        <%=will_paginate @m_storages %>
      </div>
    </div>
  </div>
</div>
