<p>
  <b>Warehouse:</b>
  <%=h @storage.warehouse %>
</p>

<p>
  <b>Material:</b>
  <%=h @storage.material %>
</p>

<p>
  <b>Avg price:</b>
  <%=h @storage.avg_price %>
</p>

<p>
  <b>Qty:</b>
  <%=h @storage.qty %>
</p>


<%= link_to 'Edit', edit_storage_path(@storage) %> |
<%= link_to 'Back', storages_path %>