<ul class="wat-cf">
  <li class="first active">
  <%= link_to "通知公告", notices_path  %>
  </li> 
  <li>
  <%= link_to "规章制度", rules_path  %>
  </li> 
  <li class="first active">
  <%= link_to "通知公告-待审批", notices_path  %>
  </li> 

  <li>
  <%= link_to "规章制度-待审批", rules_path  %>
  </li> 

  <li>
  <%= link_to "通讯录", address_books_path  %>
  </li> 
</ul>
