<fieldset class='blockLabels'>
  <%=f.error_messages%>
  <legend>所有项目都为必填项目</legend>
  <div class="ctrlHolder">
    <%= f.label :org_id, "所属部门/分公司" %>
    <%= f.select :org_id, orgs_for_select %>
    <p class="formHint">该信息所属的部门或分公司</p>
  </div>

  <div class="ctrlHolder">
    <%= f.label :title, "标题" %>
    <%= f.text_field :title, :size => "30",:maxlength => "30",:class => 'textInput title' %>
    <p class="formHint">信息标题,最长30个汉字</p>
  </div>

  <div class="ctrlHolder">
    <%= f.label :body, "正文(最长300个汉字)" %>
    <%= f.tinymce :body %>
  </div>

  <div class="ctrlHolder">
    <%= f.label :publisher_id, "审核人" %>
    <%=f.select :publisher_id,option_groups_departments_users_for_select,:multiple => true%>
    <p class="formHint">选择审核此信息的人员</p>
  </div>
  <div class='ctrlHolder'>
    <label for="notice_is_secure">
      <%= f.check_box :is_secure,:id =>'cbx_secure' ,:onclick => "toggle_users_display(this);" %>
      保密(<span class='red-text'>若信息只允许部分人员查看,请选择该项</span>)
      <%=link_to "添加人员",show_org_users_users_path,:id => 'btn_add_user',:class => 'sexybutton sexysimple sexyblue',:onclick => "Modalbox.show(this.href,{title : false,width : 600});return false;"%>
    </label>
  </div>
  <div id='users_display_wrap' class='ctrlHolder' style='display : none;'>
    <div id='users_display' class='wat-cf float-left radius-box' style='width : 85%;' >&nbsp;</div>
  </div>
  <div class="ctrlHolder">
    <span class='radius-box'><%=f.object.state.blank? ? "草稿" :state_display(BasePublicMessage,f.object.state)%></span>
  </div>

  <div class="actions-bar">
    <%=f.submit '保存信息', :class => 'sexybutton sexysimple sexyblue'%>
    <%if !@message.new_record? && @message.publisher == current_user%>
      <%=link_to_function '审核并发布信息',"$('message_form').action='#{@publish_path}';$('message_form').submit();return false;", :class => 'sexybutton sexysimple sexyblue'%>
    <%end%>
    <%=link_to '取消',:back,:class => 'sexybutton sexysimple sexyred' %>
  </div>
</fieldset>
<script type='text/javascript'>
  var toggle_users_display = function(el_check)
{
  if(el_check.checked)
  {
    $('btn_add_user').show();
    $('users_display_wrap').show();
  }
  else
  {
    $('btn_add_user').hide();
    $('users_display_wrap').hide();
  }

};
toggle_users_display.call(window,$('cbx_secure'));
var users = <%=@message.visitors.to_json %>;
user_selector.update_select_display(users);
</script>
