<div class="block">
  <%if [check_power('new_notice'),check_power('new_rule'),check_power('new_address_book')].any? {|ret| ret}%>
    <h3>新建</h3>
    <ul class="navigation">
      <% if check_power("new_notice") %>
        <li><%=link_to "新建通知公告",new_notice_path%></li>
      <% end%>

      <% if check_power("new_rule") %>
        <li><%=link_to "新建规章制度",new_rule_path%></li>
      <%end%>

      <% if check_power("new_address_book") %>
        <li><%=link_to "新建通讯录",new_address_book_path%></li>
      <% end%>
      <li><%=link_to "查询违规记录",show_overdue_search_rules_path%></li>
    </ul>
  <%end%>
</div>
<div class="block">
  <h3>查询</h3>
  <div class="content">
    <%=render "shared/messages/search_form"%>
  </div>
</div>

