<%= render 'shared/messages/set_variables' %>
<div class="block">
  <div class="secondary-navigation">
    <%= render :partial => 'shared/messages/caption' %>
  </div>          
  <div class="content">          
    <h2 class="title"><%="#{@title}列表"%></h2>
    <div class="inner">
      <table class="table">
        <%@messages_group.each do |org_name,messages| -%>
          <tr><td colspan='100'><h3><%=org_name%></h3></td></tr>
          <% messages.each do |message| -%>
            <tr class="<%= cycle("odd", "even") %> <%= check_message_state(message)%>">
              <td>
                <%= status_time_ago_in_words(message.created_at) %>
              </td>
              <td>
                <%= link_to message.title, message,:class => "ellipsis'" %>
              </td>
              <td>
                <%= message.is_secure ? "保密" : "公开" %>
              </td>

              <td>
                <%= message.user.try(:username) %>
              </td>
              <td>
                <%= state_display(BasePublicMessage,message.state) %>
              </td>

              <td>
                <%= link_to "查看", message %> |
                <%= link_to "修改", controller.controller_path == 'rules' ? edit_rule_path(message) :  edit_notice_path(message)%> |
                <%#FIXME需要根据状态判断是否可以删除 %>
                <%= link_to "删除", message, :method => :delete, :confirm => "确定删除吗?" %>
              </td>
            </tr>          
          <% end -%>
        <% end -%>

      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
          <%=will_paginate @messages_group %>
        </div>
      </div>
    </div>
  </div>
</div>
<% content_for :sidebar, render(:partial => 'sidebar') -%>
