<%= render 'shared/messages/set_variables' %>
<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{@title}列表",@list_path  %></li>
      <li><%= link_to "新建#{@title}", @new_path %></li>
      <li class="active"><%= link_to "查看", @message %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      <h2 class='text-center'><%=@message.title%></h2>
      <p><%=@message.org.name%> | <%=@message.user.try(:username)%></p>
      <p><%=status_time_ago_in_words(@message.created_at)%> </p>
      <hr />
      <p>
      <%= @message.body %>
      </p>
      <div class='radius-box doc-info'>
        <h3 class='border-bottom'>文档信息</h3>
        <ul>
          <li>最后修改于<%=status_time_ago_in_words(@message.updated_at)%></li>
          <li>文档类型:<%=@message.is_secure ? "保密" : "公开"%></li>
        </ul>
        <h3 class='border-bottom'>查看记录(<%=@message.message_visitors.size%>条)</h3>
        <ul>
          <%@message.message_visitors.each do |visit_info|%>
            <li>
            <%=visit_info.user.try(:username)%> |
            <%=visit_info.visited_at.blank? ? "<span class='red-text'>还未查看</span>" : status_time_ago_in_words(visit_info.visited_at)%>
            </li>
          <%end%>
        </ul>
      </div>
    </div>
  </div>
</div>
<% content_for :sidebar, render(:partial => 'sidebar') -%>
