<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "VIP客户列表", vip_infos_path  %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title">VIP客户列表</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <td style='background : blue'>正常</td>
          <td style='background : yellow'>下降</td>
          <td style='background : red'>2个月-下降</td>
          <td style='background : black'>3个月-下降</td>
          <td>&nbsp;</td>
        </tr>

        <tr>             
          <th>姓名</th>
          <th>联系电话</th>
          <th>最近运费合计</th>
          <th>最近更新月份</th>
          <th>&nbsp;</th>
        </tr>

        <% @group_vip_infos.each do |title,vip_infos| -%>
          <tr><td colspan='4'><h3><%=title%></h3></td></tr>
          <%vip_infos.each do |info|%>
            <tr class="<%= cycle("odd", "even") %>">
              <td><%= info.name %></td>
              <td><%= info.phone %></td>
              <td><%= info.cur_fee %></td>
              <td><%= info.last_import_mth %></td>
              <td style='width : 2px;background : <%=vip_color(info.state)%>;'>&nbsp;</td>
            </tr>          
          <%end%>
          <tr>
            <td>&nbsp;</td>
            <td>小计:</td>
            <td><%= vip_infos.sum(&:cur_fee) %></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        <% end %>
        <tr>
          <td colspan='5'>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>总计:</td>
          <td><%= @sum_info[:sum_fee]%></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </table>
      <div class="actions-bar wat-cf">
        <%= will_paginate @group_vip_infos  %>
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
