<h1>New vip_info</h1>

<% form_for(@vip_info) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :org %><br />
    <%= f.text_field :org %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :cur_fee %><br />
    <%= f.text_field :cur_fee %>
  </p>
  <p>
    <%= f.label :level %><br />
    <%= f.text_field :level %>
  </p>
  <p>
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', vip_infos_path %>