<p>
  <b>Org:</b>
  <%=h @vip_info.org %>
</p>

<p>
  <b>Name:</b>
  <%=h @vip_info.name %>
</p>

<p>
  <b>Phone:</b>
  <%=h @vip_info.phone %>
</p>

<p>
  <b>Cur fee:</b>
  <%=h @vip_info.cur_fee %>
</p>

<p>
  <b>Level:</b>
  <%=h @vip_info.level %>
</p>

<p>
  <b>State:</b>
  <%=h @vip_info.state %>
</p>


<%= link_to 'Edit', edit_vip_info_path(@vip_info) %> |
<%= link_to 'Back', vip_infos_path %>