<tr class='fields'>
  <td>
    <%=f.text_field :name,:style => "width : 100px;"%>
  </td>
  <td>
    <%=f.text_field :phone,:style => "width : 150px;"%>
  </td>
  <td>
    <%=f.text_field :mobile,:style => "width : 150px;"%>
  </td>
  <td>
    <%=f.text_field :location%>
  </td>
  <td>
    <%=link_to_remove_fields "删除",f %>
  </td>
</tr>
