<div class="block">
  <div class="secondary-navigation">
    <%= render :partial => "shared/messages/caption" %>
  </div>          
  <div class="content">
    <div class="inner">
      <h3>所属部门:<%= @address_book.org.name %></h3>
      <table class='table'>
        <tr>
          <th>姓名</th>
          <th>固定电话</th>
          <th>手机</th>
          <th>住址</th>
        </tr>
        <% @address_book.address_book_lines.each do |line| %>
          <tr class='fields'>
            <td>
              <%=line.name%>
            </td>
            <td>
              <%=line.phone%>
            </td>
            <td>
              <%=line.mobile%>
            </td>
            <td>
              <%=line.location%>
            </td>
          </tr>
        <%end%>
      </table>
    </div>
  </div>
</div>
<% content_for :sidebar, render(:partial => 'sidebar') -%>
