<ul class="wat-cf">
  <li class="first <%=check_sub_active_tab(1)%>">
  <%= link_to "收信箱",posts_path(:active_sub_tab => 1)   %>
  </li>
  <li class="<%=check_sub_active_tab(2)%>"><%= link_to "发信箱",posts_path(:active_sub_tab => 2)   %></li>
  <li class="<%=check_sub_active_tab(3)%>"><%= link_to "写信", new_post_path(:active_sub_tab => 3)  %>
  <li class="<%=check_sub_active_tab(4)%>"><%= link_to "查看", @post %></li>
</ul>
