<div class="block">
  <div class="secondary-navigation">
    <%= render :partial => "caption" %>
  </div>          
  <div class="content">          
    <h2 class="title">收信列表</h2>
    <div class="inner">
      <table class="table">
        <%@posts.each do |post| -%>
          <tr class="<%= cycle("odd", "even") %> <%= check_message_state(post)%>">
            <td>
              <span class='ellipsis'> 发件人:<%= post.user == current_user ? '我' : post.user.username%></span>
            </td>
            <td>
              <span class='ellipsis' style='width : 500px'><%= link_to post.title, post_path(post,:active_sub_tab => 4) %></span>
            </td>

            <td>
              <%= status_time_ago_in_words(post.created_at) %>
            </td>
          </tr>          
        <%end%>
        <%if @posts.blank?%>
          <tr><td colspan='20'></td></tr>
          <%5.times do |index|%>
            <%if index == 3%>
              <tr class="<%= cycle("odd", "even") %>"><td colspan='20' class='text-center'>没有信件<%=link_to "写信",new_post_path%></td></tr>
            <%else%>
              <tr class="<%= cycle("odd", "even") %>"><td colspan='20'>&nbsp;</td></tr>
            <%end%>
          <%end%>
        <%end%>

      </table>
    </div>
    <div class="actions-bar wat-cf">
      <div class="actions">
        <%=will_paginate @posts %>
      </div>
    </div>
  </div>
</div>
<% content_for :sidebar, render(:partial => 'sidebar') -%>
