<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", material_inouts_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_material_inout_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", material_inout_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.material_inout.inout_date", :default => t("activerecord.labels.inout_date", :default => "Inout date")) %>:</b>
          <%= @material_inout.inout_date %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.material_inout.org_id", :default => t("activerecord.labels.org_id", :default => "Org")) %>:</b>
          <%= @material_inout.org_id %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.material_inout.warehouse_id", :default => t("activerecord.labels.warehouse_id", :default => "Warehouse")) %>:</b>
          <%= @material_inout.warehouse_id %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.material_inout.person_name", :default => t("activerecord.labels.person_name", :default => "Person name")) %>:</b>
          <%= @material_inout.person_name %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.material_inout.note", :default => t("activerecord.labels.note", :default => "Note")) %>:</b>
          <%= @material_inout.note %>
        </p>
      <div class="wat-cf">
        <%= link_to "#{image_tag("web-app-theme/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}")} #{t("web-app-theme.edit", :default=> "Edit")}", edit_material_inout_path(@material_inout), :class => "button" %> 
        <%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}")} #{t("web-app-theme.delete", :default => "Delete")}", material_inout_path(@material_inout), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>