<div class="block">
  <div class="secondary-navigation">
    <%= render :partial => 'caption' %>
  </div>          
  <div class="content">          
    <h2 class="title"><%="投票信息列表"%></h2>
    <div class="inner">
      <table class="table">
        <%@votes.each do |vote| -%>
          <tr class="<%= cycle("odd", "even") %>">
            <td>
              <%= vote.mth %>
            </td>
            <td>
              <%= vote.created_at.strftime('%Y-%m -%d')%>
            </td>
            <td>
              <%= vote.org.name %>
            </td>
            <td>
              <%= vote.user.try(:username) %>
            </td>
            <td>
              <%= link_to "查看",vote %>
            </td>

          </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
          <%=will_paginate @votes %>
        </div>
      </div>
    </div>
  </div>
</div>
<% content_for :sidebar, render(:partial => 'sidebar') -%>
