<p>
  <b>Org:</b>
  <%=h @vote.org %>
</p>

<p>
  <b>User:</b>
  <%=h @vote.user %>
</p>

<p>
  <b>Mth:</b>
  <%=h @vote.mth %>
</p>


<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>