<div class="block">
  <div class="secondary-navigation">
    <%= render :partial => 'posts/caption' %>
  </div>          
  <div class="content">
    <div class="inner">
      <h2 class='text-center'><%=@suggestion.title%></h2>
      <p><%=@suggestion.org.name%> | <%=@suggestion.user.try(:username)%></p>
      <p><%=status_time_ago_in_words(@suggestion.created_at)%> </p>
      <hr />
      <p>
        <%= @suggestion.body %>
      </p>
      <%if !@suggestion.comments.blank?%>
        <div class='radius-box doc-info'>
          <h3 class='border-bottom'>留言(<%=@suggestion.comments.size%>条)</h3>
          <ul>
            <%@suggestion.comments(:order => "created_at DESC").each do |comment|%>
              <li class='border-bottom'>
                <p class='bold-font big-font'><%=comment.user.try(:username)%> &nbsp;&nbsp;说:<span class='small-font float-right'><%=status_time_ago_in_words(comment.created_at)%></span></p>
                <p><%=comment.body%></span></p>
            </li>
            <li class='border-bottom'>
              <p>回复评价</p>
              <% if comment.state.blank? and @suggestion.user ==  current_user %>
                <%= link_to image_tag('vote-ok.png',:size => '16x16') + "满意", comment_path(comment,"comment[state]" => 1),:method => :put %>
                <%= link_to image_tag('vote-contra.png',:size => '16x16') + '不满意', comment_path(comment,"comment[state]" => -1),:method => :put %>
              <% else %>
                <%= image_tag('vote-ok.png',:size => '16x16') + '满意' if comment.state.eql? '1'  %>
                <%= image_tag('vote-contra.png',:size => '16x16') + '不满意' if comment.state.eql? '-1' %>
              <% end%>
            </li>
          <%end%>
        </ul>
      </div>
    <%end%>
    <hr />
    <div class='radius-box'>
      <h3 class='border-bottom'>我要回复</h3>
      <%form_for [@suggestion,Comment.new] do |f|%>
        <%=f.tinymce :body, :class => "small-textarea"%>
        <div class="actions-bar">
          <%=f.submit '发表', :class => 'sexybutton sexysimple sexyblue'%>
        </div>
      <%end%>
    </div>
  </div>
</div>
</div>
<% content_for :sidebar, render(:partial => 'posts/sidebar') -%>
