<div class="block">
  <div class="secondary-navigation">
    <%= render :partial => "shared/orgs/caption" %>
  </div>          
  <div class="content">          
    <h2 class="title">仓库信息列表</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first"></th>
          <th>仓库名称</th>
          <th>管理员</th>
          <th>有效</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @warehouses.each do |warehouse| -%>
          <tr class="<%= cycle("odd", "even") %>">
            <td></td>
            <td>
              <%= warehouse.name %>
            </td>
            <td>
              <%= warehouse.manager %>
            </td>

            <td>
              <%=check_box_tag :is_active,warehouse.is_active,warehouse.is_active,:disabled => true%>
            </td>
            <td class="last">
              <%= link_to "修改", edit_warehouse_path(warehouse) %> 
            </td>
          </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>

      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
