<% form_for @search,:url => {:action => :index},:html => {:class => :uniForm } do |f| -%>
  <fieldset class='inlineLabels'>
    <div class='ctrlHolder'>
      <%=f.label :title_like,"标题"%>
      <%=f.text_field :title_like,:class => "textInput"%>
    </div>
    <div class='ctrlHolder'>
      <%=f.label :target_like,"人员姓名"%>
      <%=f.text_field :target_like,:class => "textInput"%>
    </div>

    <div class='ctrlHolder'>
      <%=f.label :target_org_id_is,"分理处/分公司"%>
      <%=f.select :target_org_id_is,sub_companies_for_select %>
    </div>

    <div class='ctrlHolder'>
      <%=f.label :punish_date_gte,"处罚时间"%>
      <%=f.calendar_date_select :punish_date_gte,:class => "shortText",:value => Date.today%>
    </div>
    <div class='ctrlHolder'>
      <%=f.label :punish_date_lte,"~"%>
      <%=f.calendar_date_select :punish_date_lte,:class => "shortText",:value => Date.today%>
    </div>
  </fieldset>
  <div class="actions-bar">
    <%=f.submit '查询', :class => 'sexybutton sexysimple sexyblue'%>
  </div>
<% end -%>
