<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Web App</title>
    <%= javascript_include_tag :all%>
    <%= init_tinymce_hammer_if_required %>
    <%= calendar_date_select_includes :blue%>
    <%= stylesheet_link_tag "web_app_theme", "themes/blue/style","live_validation","uni-form",
      "modalbox","/sexybuttons/sexybuttons","web_app_theme_override", :cache => true %>
    </head>
    <body>
      <div id="container">
        <div id="header">
          <h1><a href="/">Web App</a></h1>
          <div id="user-navigation">
            <ul class="wat-cf">
              <li><a href="#"><%= t("web-app-theme.profile", :default => "Profile") %></a></li>
              <li><a href="#"><%= t("web-app-theme.settings", :default => "Settings") %></a></li>
              <li><a href="/logout" class="logout"><%= t("web-app-theme.logout", :default => "Logout") %></a></li>
              <li class="<%= controller.controller_path == 'user' ? 'active' : '' %>">
              <%=link_to "用户管理",users_path%>
              </li>
            </ul>
          </div>      
          <div id="main-navigation">
            <ul class="wat-cf"> 
              <li class="<%= controller.controller_path == 'notices' ? 'active' : '' %>">
              <%=link_to "公共信息",notices_path%>
              </li>

              <li class="<%= controller.controller_path == 'posts' ? 'active' : '' %>">
              <%=link_to "在线交流",posts_path%>
              </li> 
              <li class="<%= controller.controller_path == 'posts' ? 'active' : '' %>">
              <%=link_to "贵宾系统",posts_path%>
              </li> 

              <li class="<%= controller.controller_path == 'contracts' ? 'active' : '' %>">
              <%=link_to "分成结算",contracts_path%>
              </li> 
              <li class="<%= controller.controller_path == 'contracts' ? 'active' : '' %>">
              <%=link_to "物品库存管理",contracts_path%>
              </li> 
              <li class="<%= controller.controller_path == 'settlements' ? 'active' : '' %>"><a href="<%= settlements_path %>">Settlements</a></li> 
              <li class="<%= controller.controller_path == 'materials' ? 'active' : '' %>"><a href="<%= materials_path %>">Materials</a></li>
             <li class="<%= controller.controller_path == 'warehouses' ? 'active' : '' %>"><a href="<%= warehouses_path %>">Warehouses</a></li></ul>
          </div>
        </div>    
        <div id="wrapper" class="wat-cf">
          <div id="main">
            <div class="flash">
              <% flash.each do |type, message| -%>
                <div class="message <%= type %>">
                  <p><%= message %></p>
                </div>
              <% end -%>
            </div>

            <%= yield %>
            <div id="footer">
              <div class="block">
                <p>Copyright &copy; <%= Time.now.year %> Your Site.</p>
              </div>      
            </div>
          </div>
          <div id="sidebar">
            <%= yield :sidebar %>
          </div>
        </div>    
      </div>
    </body>
  </html>
