<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Web App</title>
    <%= javascript_include_tag :all%>
    <%= init_tinymce_hammer_if_required %>
    <%= calendar_date_select_includes :blue%>
    <%= stylesheet_link_tag "web_app_theme", "themes/blue/style","live_validation","uni-form",
      "modalbox","/sexybuttons/sexybuttons","web_app_theme_override", :cache => true %>
    </head>
    <body>
      <div id="container">
        <div id="header">
          <h1>
            <%if Client.count > 0%>
              <%=image_tag Client.first.logo.url(:thumb)%>
            <%end%>
            <%=link_to Client.first.name, :root %>
          </h1>
          <div id="util-navigation">
            <ul class="wat-cf">
              <li><%=link_to current_user.try(:username),edit_user_path(current_user)%></li>
              <li><%=link_to "退出系统",destroy_user_session_path,:class => "logout" %></li>
            </ul>
          </div>      
          <div id="user-navigation">
            <ul class="wat-cf">
              <li><%=link_to "公司信息",edit_client_path(Client.first) %></li>
              <li><%=link_to "基础资料",departments_path %></li>
              <li class="<%= controller.controller_path == 'user' ? 'active' : '' %>">
              <%=link_to "用户管理",users_path%>
              </li>
            </ul>
          </div>      
          <div id="main-navigation">
            <ul class="wat-cf"> 
              <li class="<%= controller.controller_path == 'notices' ? 'active' : '' %>">
              <%=link_to "公共信息",notices_path%>
              </li>
              <li class="<%= controller.controller_path == 'posts' ? 'active' : '' %>">
              <%=link_to "在线交流",posts_path%>
              </li> 
              <li class="<%= controller.controller_path == 'vip_infos' ? 'active' : '' %>">
              <%=link_to "贵宾系统",vip_infos_path%>
              </li> 
              <li class="<%= controller.controller_path == 'settlements' ? 'active' : '' %>">
              <%=link_to "分成结算",settlements_path%>
              </li> 
              <li class="<%= controller.controller_path == 'durable_receipts' ? 'active' : '' %>">
              <a href="<%= durable_receipts_path %>">耐用品管理</a>
              </li>
              <li class="<%= controller.controller_path == 'consumer_receipts' ? 'active' : '' %>">
              <a href="<%= consumer_receipts_path %>">日用消费品管理</a>
              </li>
            </ul>
          </div>
        </div>    
        <div id="wrapper" class="wat-cf">
          <div id="main">
            <div class="flash">
              <% flash.each do |type, message| -%>
                <div class="message <%= type %>">
                  <p><%= message %></p>
                </div>
              <% end -%>
            </div>

            <%= yield %>
            <div id="footer">
              <%= render :partial => 'shared/footer' %>
            </div>
          </div>
          <div id="sidebar">
            <%= yield :sidebar %>
          </div>
        </div>    
      </div>
    </body>
  </html>
